<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>article02</title>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <link href="../static/css/screen.css" rel="stylesheet" type="text/css">
    <script src="../static/js/dist/syntaxhighlighter.js"></script>
    <link href="../static/js/dist/theme.css" rel="stylesheet" type="text/css">
</head>
<body class="post-template">
    <div class="site-wrapper">
        <header class="site-header outer">
            <div class="inner">
                <nav class="site-nav">
                    <div class="site-nav-left">
                        <a class="site-nav-logo" href="homepage.html">
                            <img src="../static/image/logo.jpg">
                        </a>
                        <ul class="nav">
                            <li><a href="../template/homepage.html">首页</a></li>
                            <li><a href="all post">文章分类</a></li>
                            <li><a href="#">None</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <main class="site-main outer">

        </main>

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section>ZZL's Blog @ xxxx</section>
            </div>
        </footer>


    </div>
</body>
</html>