<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学忆思</title>
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <link href="../static/css/screen.css" rel="stylesheet" type="text/css">
</head>
<body class="home-template">
    <div class="site-wrapper">
        <header class="site-header outer" style="background-image: url('../static/image/background.jpg')">
            <div class="inner">
                <div class="site-header-content">
                    <h1 class="site-title">
                        <img class="site-logo" src="../static/image/logo.jpg">
                    </h1>
                    <h2 class="site-description">学无止境</h2>
                </div><!--
                <nav class="site-nav">
                    <div class="site-nav-left">
                        <ul class="nav">
                            <li>
                                <a href="all posts">所有博客</a>
                            </li>
                            <li>
                                <a href="cv">计算机视觉</a>
                            </li>
                            <li>
                                <a href="ml">机器学习</a>
                            </li>
                            <li>
                                <a href="contact">欢迎交流</a>
                            </li>
                        </ul>
                    </div>
                </nav>-->
            </div>
        </header>


    <main id="" class="site-main outer" role="main">
        <div class="inner">
            <div class="post-feed">
                <!-- 1 -->
                <article class="post-card">
                    <a class="post-card-image-link" href="/article/1">
                        <div class="post-card-image" style="background-image: url('../static/image/post1_background.jpg')"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="article/1">
                            <header>
                                <span class="post-card-tags">算法</span>
                                <h2 class="post-card-title">基因算法</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>
                                    基因算法模拟大自然的优胜劣汰，能够在较短的时间内给出近似解。
                                </p>
                            </section>
                        </a>
                        <footer class="post-card-meta">
                            <img class="author-profile-image" src="../static/image/author.jpg">
                            <span class="post-card-author">
                                <!--<a href="ZZL">zerahhah</a>-->
                                zerahhah
                            </span>
                        </footer>
                    </div>
                </article>

                <!-- 2 -->
                <article class="post-card">
                    <a class="post-card-image-link" href="article/2">
                        <div class="post-card-image" style="background-image: url('../static/image/post2_background.jpg')"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="article/2">
                            <header>
                                <span class="post-card-tags">算法</span>
                                <h2 class="post-card-title">C++11实现栈</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>
                                    栈是一种数据结构，遵循先进后出（FILO）的原则。
                                </p>
                            </section>
                        </a>
                        <footer class="post-card-meta">
                            <img class="author-profile-image" src="../static/image/author.jpg">
                            <span class="post-card-author">
                                <!--<a href="ZZL">zzl</a>-->
                                zerahhah
                            </span>
                        </footer>
                    </div>
                </article>


                <!-- 3 -->
                <article class="post-card">
                    <a class="post-card-image-link" href="/article/3">
                        <div class="post-card-image" style="background-image: url('../static/image/post3_background.jpg')"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="article/3">
                            <header>
                                <span class="post-card-tags">算法</span>
                                <h2 class="post-card-title">C++11实现队列</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>
                                    队列（Queue）与栈一样，是一种线性存储结构。队列中的数据元素遵循“先进先出”（FIFO）的原则。
                                </p>
                            </section>
                        </a>
                        <footer class="post-card-meta">
                            <img class="author-profile-image" src="../static/image/author.jpg">
                            <span class="post-card-author">
                                <!--<a href="ZZL">zzl</a>-->
                                zerahhah
                            </span>
                        </footer>
                    </div>
                </article>


                <!-- 4 -->
                <article class="post-card">
                    <a class="post-card-image-link" href="article/4">
                        <div class="post-card-image" style="background-image: url('../static/image/post4_background.jpg')"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="article/4">
                            <header>
                                <span class="post-card-tags">机器学习</span>
                                <h2 class="post-card-title">最近邻KNN</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>
                                    最近邻KNN是一种分类方法，根据样本和测试的距离来判断，测试集的类别。
                                </p>
                            </section>
                        </a>
                        <footer class="post-card-meta">
                            <img class="author-profile-image" src="../static/image/author.jpg">
                            <span class="post-card-author">
                                <!--<a href="ZZL">zzl</a>-->
                                zerahhah
                            </span>
                        </footer>
                    </div>
                </article>


		<!-- 5 -->
                <article class="post-card">
                    <a class="post-card-image-link" href="article/5">
                        <div class="post-card-image" style="background-image: url('../static/image/post5_background.jpg')"></div>
                    </a>
                    <div class="post-card-content">
                        <a class="post-card-content-link" href="article/5">
                            <header>
                                <span class="post-card-tags">算法</span>
                                <h2 class="post-card-title">深入浅出学习图论（零）</h2>
                            </header>
                            <section class="post-card-excerpt">
                                <p>
                                    图论是数学领域的一个分支，是一种抽象模型。图在一些应用中十分有用。这一章只是简单介绍了图，接来下的内容在后续章节。
                                </p>
                            </section>
                        </a>
                        <footer class="post-card-meta">
                            <img class="author-profile-image" src="../static/image/author.jpg">
                            <span class="post-card-author">
                                <!--<a href="ZZL">zzl</a>-->
                                zerahhah
                            </span>
                        </footer>
                    </div>
                </article>


            </div>
        </div>
    </main>

    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section>Zerahhah's Blog</section>
            <nav class="site-footer-nav">
                <a href="http://www.miitbeian.gov.cn/">湘ICP备18002613</a>
            </nav>
        </div>
    </footer>


    </div>
</body>
</html>